@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="side_flex_container">

    <div class="side_border">

    </div>


    <div class="col">
        <div class="main_photo">
            <img src="/Images/portriat.jpeg" alt="Image of Kate Frisch at Disney World">
        </div>
        <div id="contact">
            <h3>Contact Info</h3>
            <span class="address">
                80 School Street Mayfield, NY 12117
            </span><br>
            <span class="email">
                Email: <a href="mailto:kj26fris@siena.edu"> kj26fris@siena.edu </a>
            </span><br>
            <span class="phone">
                (518) 763-3155
            </span><br>
        </div>

        <div id="info">
            <h3>Info</h3>
            <strong>Hometown:</strong> Mayfield, NY <br>
            <strong>Favorite Sport:</strong> Hockey <br>
            <strong>Favorite Team:</strong> Utica College <abbr title="Utica College">(UC)</abbr> Hockey
        </div>

        <div id="background">
            <h3>Background</h3>
            <p>
                I grew up in Mayfield my whole life so far, attending the <abbr title="Mayfield Central School District">MCSD</abbr> (Mayfield Central School District) for
                Elementary
                and High School. My hobbies include <strong>fishing</strong> and <strong>painting</strong> because
                those
                activities are the main way I can <em>destress</em> from a busy week.
            </p>
        </div>

        <div id="goals">
            <h3>Goals</h3>
            <p>
                My goals are to work as a <strong>Software Developer</strong> on projects that help automate and
                ease
                processes for individuals. I also hope to have a <em>healthy and happy</em> work/life balance.
            </p>
        </div>

        <div id="places">
            <h3>Places I Want to Visit</h3>
            <ol>
                <li><em>Colorado</em></li>
                <li><strong>Maine</strong></li>
                <li>Japan</li>
                <li>South Korea</li>
                <li>Greece</li>
            </ol>
        </div>

        <div class="favorites" id="courses">
            <h3>Favorite Courses</h3>
            <ol type="A">
                <li>Software Engineering</li>
                <li>Assembly Language</li>
                <li>Advanced Programming</li>
            </ol>
        </div>

        <div class="favorites" id="books">
            <h3>Favorite Books</h3>
            <ol reversed>
                <li><cite>Making Faces</cite> by Amy Harmon</li>
                <li><cite>One Last Stop</cite> by Casey McQuiston</li>
                <li><cite>I'll Give You the Sun</cite> by Jandy Nelson</li>
            </ol>
        </div>

        <div class="favorites" id="quotes">
            <h3>Favorite Quotes</h3>
            <ul style="list-style-type: square;">
                <li><q>We are all in the gutter, but some of us are looking at the stars.</q> by Oscar Wilde</li>
                <li>
                    <q>We accept the love we think we deserve</q> by Stephen Chbosky, The Perks of Being a
                    Wallflower
                </li>
                <li><q>Don’t cry because it’s over, smile because it happened.</q> by Dr. Seuss</li>
            </ul>
        </div>
    </div>
</div>

        

