@page
@model MyWebpages.Pages.ResumeModel
@{
    ViewData["Title"] = "Resume";
}
<h2>Resume</h2>
<div class="col">
    <div id="education">
        <h3>Education</h3>
        <ol>
            <li><strong>Mayfield Jr./Sr. High School</strong> <em>June 2018</em></li>
            <li><strong>Siena College</strong> <em>May 2022</em></li>
        </ol>
    </div>

    <div id="employment">
        <h3>Employment History</h3>
        <ol>
            <li>
                <strong>The Siena College Institute for Artificial Intelligence</strong> <em>
                    Sept 2021 -
                    Present
                </em>
            </li>
            <li><strong>The Siena College School of Science</strong> <em>May 2021 - Aug 2021</em></li>
            <li>
                <strong>The Siena College Institute for Artificial Intelligence</strong> <em>
                    May 2020 - Nov
                    2020
                </em>
            </li>
        </ol>
    </div>

    <div id="skills">
        <h3>Skills</h3>
        <dl>
            <dt>Java Programming</dt>
            <dd>Learned and worked consistently in Java since 2019.</dd>
            <dt>HTML, CSS, JavaScript</dt>
            <dd>Taken two semesters of Web Application and Design classes.</dd>
            <dt>Unreal Engine</dt>
            <dd>Used Unreal Engine to create a VR experience.</dd>
            <dt>Scrum</dt>
            <dd>Worked as a Scrum Master for a team in my Software Engineering Capstone class</dd>
        </dl>
    </div>
</div>