@page
@model MyWebpages.Pages.Gallery.PhotoModel
@{
    ViewData["Title"] = "Photo";
}

<div class="photo">

    <h2>Title</h2>

    <img src="ValueAndColor.png" alt="A digital self portriat that is reminiscent of Audrey Hepburn">

    <p class="image_caption">
        Caption
    </p>
</div>